
img { width: 100%;} 

.main-content { padding: 2rem; }

/* fetched podcast */
.rendered-podcast {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  /* padding: 2rem; */
  width: 100%;
}

/* loading message */
.loading-container {
  position: fixed;
  /* top: 0; */
  right: 0;
  bottom: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  /* display: none; */
  align-items: center;
  justify-content: center;
}

.loading-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 18rem;
  text-align: center;
  margin: auto;
}

@media (min-width: 640px) {
  .loading-container > div {
    width: 20rem;
  }
}

@media (min-width: 768px) {
  .loading-container > div {
    width: 24rem;
  }
}

.loading-animation {
  width: 3rem;
  height: 3rem;
  border: 4px solid #d1d5db;
  border-top-color: #818cf8;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1rem;
}

.loading-text {
  color: #ffffff;
  font-size: 1rem;
}

@media (min-width: 640px) {
  .loading-text {
    font-size: 1.125rem;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


