
/* header {
  border-bottom: 1px solid var(--medium-grey); 
  padding: 1rem 2rem;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  display: flex;
  gap: 10px;
}

.container > .icon {
  border: 1px solid var(--medium-grey);
  width: 40px;
  height: 40px;
  padding: 7px;
  border-radius: 50%;
}

.search-container {
  gap: 10px;
  display: flex;
  align-items: center;
  border: 1px solid var(--medium-grey);
  border-radius: 30px;
  padding-inline: 10px;
}

.search-container > .icon { font-size: 20px; }

.search-container input {
  border: none;
  width: 400px;
  background: none;
}

.browse-btn {
  border-left: 1px solid var(--medium-grey);
  padding-inline-start: 10px;
  font-size: 20px;
}

.profile {
  background: var(--gray-dark);
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  color: var(--background-light); 
}

.btns {
  display: flex;
  gap: 1rem;
}

.light-btn,
.dark-btn {
  width: 60%;
  height: 40px;
}
.dark-btn { 
  display: none; 
  color: var(--background-light); 
}

nav {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  background: var(--dark-grey);
  height: 13vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.4rem;
}

@media (min-width: 1000px) {
  nav{ display: none; }
} */

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 1px 5px var(--medium-grey);
}